mcp 
yfinance
colorama
smolagents
smolagents[mcp]
supabase
dotenv
sentence_transformers
newspaper3k
feedparser
langchain
langchain_community
langgraph
langchain_openai
fastapi
uvicorn
litellm
ollama
langchain_mcp_adapters
httpx
python-dotenv
pydantic>=2.0
numpy>=1.22,<2.0
requests
yfinance
colorama
